<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testtab"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainFrag"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestFragment"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity android:name="citygrill.gui.ProductsActivity" >
        </activity>
        <activity android:name="citygrill.login.signup" >
        </activity>
        <activity android:name="citygrill.login.info" >
        </activity>
        <activity android:name="citygrill.login.help" >
        </activity>
        <activity android:name="citygrill.login.Login" >
        </activity>
        <activity android:name="citygrill.gui.MainActivity" >
        </activity>
        <activity android:name="citygrill.gui.TableActivity" >
        </activity>
        <activity android:name="citygrill.gui.OrderActivity" >
        </activity>
        <activity android:name="citygrill.gui.ProductCategoriesActivity" >
        </activity>
        <activity android:name="citygrill.login.viewvideo" >
        </activity>
    </application>

</manifest>